<link rel="stylesheet" href = "/css/home.css">
<% if(locals.user) { %>
    <h1> 
        Welcome, <%= locals.user.name %> ! How are you doing today ?
    </h1>

        <%  } else { %>
        <h1> 
            Welcome, User !
        </h1> 
     <%  }  %>