<div>
    Hi, <%= user.name %>
    Please click on the link below to reset your password :
    <br>
    <a href = "http://54.221.107.85:8004/reset-password/access-token/<%=ResetPasswordToken.accessToken %>"> http://localhost:8004/reset-password/access-token/<%=ResetPasswordToken.accessToken %> </a>
</div>